@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: "Overpass", sans-serif;
}

header{
    background: 
    linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%)),
    url('./images/bg-pattern-intro-mobile.svg') no-repeat center;
    background-size: cover; /* Ensure the background image covers the entire area */
    color: hsl(0, 0%, 100%);
    padding: 1.1rem;
    margin-bottom: 3rem;
    border-bottom-left-radius: 20%;
    

}

header h1{
    color: hsl(0, 0%, 100%);
    padding: 1rem 0;
    
}

header p{
    padding: 2rem 0;
    font-weight: 500;
}

span{
    display: block;
    width: 300px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1,h2,h3,h4,h5,h6{
    color: hsl(208, 49%, 24%);
}

li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.__nav{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-list-desktop{
    display: none;
}

.h__{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-close{
    display: none;
}

.nav-list-mobile{
    display: none;
    /* display: grid; */
    place-content: center;
    /* min-height: 100vh; */
    margin: 1rem 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(208, 49%, 24%);
    padding: 1rem 0;

}

.hero{
    text-align: center;
    margin-top: 4rem;
}

.buttons{
    margin-bottom: 100px;
}

.btn{
    font-weight: 700;
    padding: 0.6rem 0.9rem;
    border: none;
    border-radius: 20px;
}

.btn-1{
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    margin-right: 5px;
}

.btn-2{
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    background: transparent;
}

.main-1{
    text-align: center;
    padding: 1.1rem;
    
}

.main-1 .header{
    margin: 1rem 0;
}

.main-1 .__hra{
    display: flex;  
    flex-direction: column-reverse;
}

.main-1 img{
    margin-bottom: 30px;
}

.main-1,
.main-2,
.outro,
footer{
    text-align: center;
    margin: 0 auto;
}

.text h3{
    width: 150px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.text p{
    width: 280px;
    margin-bottom: 30px !important;
    color: hsl(207, 13%, 34%);
    margin: 0 auto;
}


.main-2{
    background-color: hsl(237, 23%, 32%);
    background-image: url(./images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: top;
}

.main-2-img{
    margin-top: 50px;
}

.main-2 h3, .main-2 p{
    color: hsl(0, 0%, 100%);
}
